name: plaid_flutter
description: Plaid Link for Flutter. Integrates the native iOS, Android and Web SDKs.
version: 4.0.6-rc
homepage: https://github.com/jorgefspereira/plaid_flutter
repository: https://github.com/jorgefspereira/plaid_flutter
issue_tracker: https://github.com/jorgefspereira/plaid_flutter/issues
screenshots:
  - description: The plaid logo.
    path: doc/screenshots/logo.jpg

environment:
  sdk: '>=3.4.4 <4.0.0'
  flutter: ">=3.10.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_web_plugins:
    sdk: flutter
  plugin_platform_interface: ^2.1.2
  js: ^0.7.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0
  mocktail: ^1.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.github.jorgefspereira.plaid_flutter
        pluginClass: PlaidFlutterPlugin
      ios:
        pluginClass: PlaidFlutterPlugin
      web:
        pluginClass: PlaidFlutterPlugin
        fileName: src/platform/plaid_flutter_web.dart

topics:
  - plaid
  - plaid-link
